{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <h2>Посты из подписки</h2>
    </div>
    <br>
    {% for post in page_obj.object_list %}
        <div class="row">
            <a href="{% url 'blogs:post' post.blog.slug post.pk %}">{{ post }}</a>
            <p> Блог: <a href="{% url 'blogs:blog' post.blog.slug %}">{{ post.blog }}</a> </p>
            <p> Автор: {{ post.blog.owner }} </p>
            <p> Опубликован: {{ post.created_at|date:'d.m.Y H:i' }} </p>
            {% if post.readed %}
                <span class="label label-success">прочитано</span>
            {% else %}
                <form action="{% url 'blogs:add_to_readed' post.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">пометить прочитанным</button>
                </form>
            {% endif %}
            <hr>
        </div>
    {% endfor %}

    {% include 'includes/pagination.html' %}

{% endblock content %}