{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <h2>{{ object.title }}</h2>
        <p>{{ object.created_at }}</p>
        {% if subscription %}
            {% if is_readed %}
                <span class="label label-success">прочитано</span>
            {% else %}
                <form action="{% url 'blogs:add_to_readed' object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">пометить прочитанным</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <hr>
    <div class="row">
        <p>{{ object.text }}</p>
    </div>
{% endblock content %}