<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-primary">туда < </a>
        {% endif %}

        <span class="current">
            {% if page_obj.number == 1 and not page_obj.object_list %}
                постов нет
            {% else %}
                страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            {% endif %}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-primary"> > сюда</a>
        {% endif %}
    </span>
</div>